
@{
    ViewBag.Title = "Error!";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomError</title>
</head>
<body>
    <h2>
        @ViewBag.ErrorMessage
    </h2>
</body>
</html>
